[MASTER]
disable=
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0301, # line-too-long
    C0302, # too-many-lines
    E1101, # no-member
    E0401, # import-error
    E0611, # no-name-in-module
    E2513, # invalid-character-esc
    W0105, # pointless-string-statement
    W0122, # exec-used
    W0212, # protected-access In errors.py
    W0221, # arguments-differ
    W0236, # invalid-overridden-method
    W0613, # unused-argument Sometimes happens for stuff like buttons
    W0702, # bare-except
    W0703, # broad-except
    W1203, # logging-fstring-interpolation
