[Unit]
Description=Benny Discord bot   
After=multi-user.target

[Service]
WorkingDirectory=/root/Benny
# This is where your bot's code lies
User=root
# Change user if you aren't using root

# Activates your virtual environment and starts the bot
# replace bot.py with whatever Python file that starts your bot
ExecStart=/bin/bash -c "python3 Benny/bot.py" 

# This will restart your bot if your bot doesn't return a 0 exit code
Restart=on-failure

[Install]
WantedBy=multi-user.target