[Unit]
Description=Benny Bot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/Benny/
ExecStart=/usr/bin/python3 /Benny/bot.py
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target