git+https://github.com/Rapptz/asqlite
git+https://github.com/Leg3ndary/aiogtrans
git+https://github.com/Leg3ndary/bTagscript
git+https://github.com/Leg3ndary/musescore-scraper
git+https://github.com/Leg3ndary/uvloop
aiohttp==3.7.4.post0
cleantext==1.1.4
colorama==0.4.4
detoxify==0.5.0
discord.py==2.0.0
gd.py==0.11.0
motor==2.4.0
parsedatetime==2.6
Pillow==9.2.0
pygit2==1.10.1
psutil==5.8.0
pytesseract==0.3.9
python-dotenv==0.20.0
redis==4.3.1
tekore==4.4.0
torch==1.12.1
wavelink==1.3.1
